body {
  --egg-blue: #03dac5;
  --secondary-action-color: #03dac5;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --background-color: #F1F1F1;
  --theme-primary: #673ab7;
  --theme-danger: #b73d3b;
  --theme-success: #36b758;


  --theme-primary-lighten: #F2EBFE;
  --theme-danger-lighten: #b73d3b;
  --theme-success-lighten: #36b758;
}
